# Build folders
build*/
build-debug/
build-release/

# VS Code
.vscode/

# CMake/Ninja noise
.ninja_log
.ninja_deps
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build.ninja
compile_commands.json

# Local config (keep template committed)
LLPS_analysis_input.txt

# Excluded module
KS.h
KS_test.cpp

# Output folders (add/remove as needed)
normalized/
Max/
ABN_Append/
Exclude_Append/
Fits/